<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<title>Hotel Dashboard Template</title>

	<link rel="shortcut icon" type="image/x-icon" href="static/img/favicon.png">
	<link rel="stylesheet" href="static/css/bootstrap.min.css">
	<!--<link rel="stylesheet" href="static/css/datatables.css">-->

	<link rel="stylesheet" href="static/plugins/fontawesome/css/all.min.css">
	<link rel="stylesheet" href="static/plugins/fontawesome/css/fontawesome.min.css">
	<link rel="stylesheet" href="static/plugins/datatables/datatables.min.css">
	<link rel="stylesheet" href="static/css/feathericon.min.css">
	<link rel="stylesheet" href="static/plugins/morris/morris.css">
	<!--<link rel="stylesheet" href="static/css/bootstrap-datetimepicker.min.css">-->
	<link rel="stylesheet" href="static/css/style.css">
<!--	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">-->
<!--	<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css">-->
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>

</head>
<body>

<div class="main-wrapper">

<div class="header">
    <div class="header-left">
        <a href="#" class="logo">
            <img src="static/logos/LOGO.png" width="50" height="70" alt="logo">
            <span class="logoclass">SUPER-D1</span>
        </a>
        <a href="index.html" class="logo logo-small">
            <img src="static/logos/LOGO.png" width="50" height="70" alt="logo">
        </a>
    </div>


<a href="javascript:void(0);" id="toggle_btn">
<i class="fe fe-text-align-left"></i>
</a>



<a class="mobile_btn" id="mobile_btn">
<i class="fas fa-bars"></i>
</a>


<ul class="nav user-menu">

<li class="nav-item dropdown noti-dropdown">
<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
<i class="fe fe-bell"></i> <span class="badge badge-pill">3</span>
</a>
<div class="dropdown-menu notifications">
<div class="topnav-dropdown-header">
<span class="notification-title">Notifications</span>
<a href="javascript:void(0)" class="clear-noti"> Clear All </a>
</div>
<div class="noti-content">
<ul class="notification-list">
<li class="notification-message">
<a href="#">
<div class="media">
<span class="avatar avatar-sm">
<img class="avatar-img rounded-circle" alt="User Image" src="static/logos/LOGO.png">
</span>
<div class="media-body">
<p class="noti-details"><span class="noti-title">Carlson Tech</span> has
approved <span class="noti-title">your estimate</span></p>
<p class="noti-time"><span class="notification-time">4 mins ago</span>
</p>
</div>
</div>
</a>
</li>
<li class="notification-message">
<a href="#">
<div class="media">
<span class="avatar avatar-sm">
<img class="avatar-img rounded-circle" alt="User Image" src="static/logos/LOGO.png">
</span>
<div class="media-body">
<p class="noti-details"><span class="noti-title">International Software
Inc</span> has sent you a invoice in the amount of <span class="noti-title">$218</span></p>
<p class="noti-time"><span class="notification-time">6 mins ago</span>
</p>
 </div>
</div>
</a>
</li>
<li class="notification-message">
<a href="#">
<div class="media">
<span class="avatar avatar-sm">
<img class="avatar-img rounded-circle" alt="User Image" src="static/logos/LOGO.png">
</span>
<div class="media-body">
<p class="noti-details"><span class="noti-title">John Hendry</span> sent
a cancellation request <span class="noti-title">Apple iPhone
XR</span></p>
<p class="noti-time"><span class="notification-time">8 mins ago</span>
</p>
</div>
</div>
</a>
</li>
<li class="notification-message">
<a href="#">
<div class="media">
<span class="avatar avatar-sm">
<img class="avatar-img rounded-circle" alt="User Image" src="static/logos/LOGO.png">
</span>
<div class="media-body">
<p class="noti-details"><span class="noti-title">Mercury Software
Inc</span> added a new product <span class="noti-title">Apple
MacBook Pro</span></p>
<p class="noti-time"><span class="notification-time">12 mins ago</span>
</p>
</div>
</div>
</a>
</li>
</ul>
</div>
<div class="topnav-dropdown-footer">
<a href="#">View all Notifications</a>
</div>
</div>
</li>


<li class="nav-item dropdown has-arrow">
<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
<span class="user-img"><img class="rounded-circle" src="static/logos/LOGO.png" width="31" alt="Soeng Souy"></span>
</a>
<div class="dropdown-menu">
<div class="user-header">
<div class="avatar avatar-sm">
<img src="static/logos/LOGO.png" alt="User Image" class="avatar-img rounded-circle">
</div>
<div class="user-text">
<h6>Soeng Souy</h6>
<p class="text-muted mb-0">Administrator</p>
</div>
</div>

<a class="dropdown-item" href="/">Logout</a>
</div>
</li>

</ul>

</div>


<div class="sidebar" id="sidebar">
<div class="sidebar-inner slimscroll">
<div id="sidebar-menu" class="sidebar-menu">
<ul>
<li>
<li class="active"> <a href="#"><i class="fas fa-trophy"></i> <span>SUPER DIVISION</span></a>
</li>
						<li class="list-divider"></li>
						<li class="submenu"> <a href="#"><i class="fas fa-list-ol"></i> <span> CLASSEMENT </span> <span class="menu-arrow"></span></a>
							<ul class="" style="display: none;">
								<li><a href="/classement">Liste  De Classement</a></li>

<!--								<li><a href="add-staff.html"> Add Staff </a></li>-->
							</ul>
						</li>
                        <li><a href="/get_statistics_data"><i class="fas fa-chart-pie"></i> <span>Statistiques</span></a></li>
						<li class="submenu"> <a href="#"><i class="fas fa-futbol"></i> <span> MATCHES </span> <span class="menu-arrow"></span></a>
							<ul class="submenu_class" style="display: none;">
								<li><a href="/match_results"> Score De Matches </a></li>
								{% if session['role'] == 'admin' %}
                                     <a href="/add_match" class="btn btn-primary">Ajouter un Matchs</a>
                                {% endif %}
<!--								<li><a href="add-customer.html"> Add Customer </a></li>-->
							</ul>
						</li>

                        {% if session['role'] == 'admin' %}
						<li class="submenu"> <a href="#"><i class="fas fa-plus-circle"></i> <span>add - MATCHES </span> <span class="menu-arrow"></span></a>
							<ul class="submenu_class" style="display: none;">
								<li><a href="/upload"> Add  De Matches Excel </a></li>
								{% if session['role'] == 'admin' %}
                                     <a href="/add_match" class="btn btn-primary">Ajouter un Matchs</a>
                                {% endif %}
<!--								<li><a href="add-customer.html"> Add Customer </a></li>-->
							</ul>
						</li>
                        {% endif %}
                        <li><a href="/logout"><i class="fas fa-sign-out-alt"></i> <span>logo out</span></a></li>






</li>
</ul>
</div>
</div>
</div>


<div class="page-wrapper">
<div class="content container-fluid">
<div class="page-header">
<div class="row align-items-center">
<div class="col">
<div class="mt-5">
<h4 class="text-center">SUPER DIVISION 1</h4>
    {% if session['role'] == 'admin' %}
          <a href="/add_match" class="btn btn-primary">Ajouter un Matchs</a>
    {% endif %}
<div class="col-md-3">
<div class="form-group">

</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-lg-12">
<form>
<div class="row formtype">


<div class="col-md-3">
<div class="form-group">

</div>
</div>
</div>
</form>
</div>
</div>
<div class="row">
<div class="col-sm-12">
<div class="card">
<div class="card-body">
<div class="table-responsive">
<table class="datatable table table-stripped">
<thead>
    <tr>
        <th>Position</th>
        <th>Logo</th>
        <th>Équipe</th>
        <th>MJ</th>
        <th>V</th>
        <th>N</th>
        <th>D</th>
        <th>P</th>
        <th>BM</th>
        <th>BE</th>
    </tr>
</thead>
<tbody>
    {% for row in EQPS %}
    <tr>
        <td>{{ loop.index }}</td>
        <td><img src="{{ row[8] }}" alt="{{ row[0] }} logo" style="width: 40px; height: 40px;"></td>
        <td>{{ row[0] }}</td>
        <td>{{ row[1] }}</td>
        <td>{{ row[2] }}</td>
        <td>{{ row[3] }}</td>
        <td>{{ row[4] }}</td>
        <td>{{ row[5] }}</td>
        <td>{{ row[6] }}</td>
        <td>{{ row[7] }}</td>
    </tr>
    {% endfor %}
</tbody>

                        </div>
                    </div>
                </div>
            </div>
        </div>




</table>
</div>
</div>
</div>
</div>
</div>

<script>
            $(document).ready(function() {
                $('.datatable').DataTable({
                    "language": {
                        "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
                    },
                    "order": []
                });
            });
        </script>

<script data-cfasync="false" src="../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="static/js/jquery-3.5.1.min.js"></script>
<script src="static/js/jquery-3.5.1.min.js"></script>
<script src="static/js/popper.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="static/plugins/datatables/datatables.min.js"></script>
<!--<script src="static/js/moment.min.js"></script>-->
<!--<script src="static/js/select2.min.js"></script>-->

<script src="static/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="static/js/bootstrap-datetimepicker.min.js"></script>

<script src="static/plugins/raphael/raphael.min.js"></script>
<script src="static/js/script.js"></script>
<!--<script src="https://code.jquery.com/jquery-3.7.0.js"></script>-->
<!--<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>-->
<!--<script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>-->
<!--<script>-->
<!--		$(function () {-->
<!--			$('#datetimepicker3').datetimepicker({-->
<!--				format: 'LT'-->

<!--			});-->
<!--		});-->
<!--	</script>-->
</body>
</html>